/* font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --red-custom: #ea3232;
  --black-custom: #1b1b1f;
}

/* navbar */
.navbar-custom {
  background-color: var(--black-custom);
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom: rgb(44, 44, 44) solid 1px;
}

.ul-navbar {
  text-decoration: none;
}

.icon-custom {
  color: var(--red-custom);
  rotate: -45deg;
  transition: 1s;
}

:hover.icon-custom {
  rotate: 360deg;
}

/* searchbar */
.searchbar-button {
  background-color: var(--red-custom) ;
  height: 100%;
}

/* sidebar filter*/
.style-sidebar-filters {
  background-color: var(--red-custom);
  margin-top: 60px;
}

@media screen and (max-width: 394px) {
  .style-sidebar-filters {
    margin-top: 100px;
  }
}

.button-genres-dropdown {
  background-color: var(--red-custom);
  border: none;
  display: flex;
  align-items: center;
  height: auto;
}

.list-dropdown {
  /* background-color: var(--red-custom); */

  margin-top: 0px;
  padding-top: 0px;
}

/* footer */
.footer-custom {
  background-color: var(--black-custom);
  border-top: rgb(44, 44, 44) solid 1px;
}

/* Particles */
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: var(--black-custom);
  padding: 0px;
}

.title-custom {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  margin: 0px;
}


/* Card */

.button-card-list {
  background-color: var(--red-custom);
  border: rgb(44, 44, 44) 1px solid;
  width: 40%;
  transition: 10ms;
}

.link-button-card {
  text-decoration: none;
  color: white;
}

:hover.button-card-list {
  scale: 1.2;
  box-shadow: rgba(237, 53, 53, 0.66) 0px 0px 5px 5px;
  background-color: whitesmoke;
  border: rgb(0, 0, 0) 2px solid;
  .link-button-card {
    color: black;
  }
}

.img-custom {
  border-radius: 25px;
  /* height: 200px; */
  transition: 10ms transform ease-in-out;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  transition: 10s ease-in-out;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Ombra trasparente iniziale */
  transition: background 0.3s ease-in-out;
  border-radius: 25px;
  transform: scale(1);
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 5px 5px;
}

.image-container:hover::after {
  background: rgba(0, 0, 0, 0.4); /* Ombra visibile al passaggio del mouse */
  border-radius: 25px;
  transform: scale(1.1);
  box-shadow: rgba(255, 255, 255, 0.725) 0px 0px 5px 5px;
}

.image-container:hover img {
  transform: scale(1.1);
  /* Ingrandisce l'immagine del 10% */
}


/* card GamePage */

.button-favorite {
  background-color: var(--black-custom);
  border: none;
}

:hover.button-favorite {
  scale: 1.2;
  
}

.button-description {
  background-color: var(--red-custom);
  border-radius: 25px;
  border: rgb(0, 0, 0) 2px solid;
}

:hover.button-description {
  box-shadow: rgba(237, 53, 53, 0.66) 0px 0px 5px 5px;
  background-color: whitesmoke;
  border: rgb(0, 0, 0) 2px solid;
}

.pixelated-image-card {
  background-color: #222;
  color: var(--color-primary, #fff);
  border-radius: 15px;
  border: 2px solid #fff;
  width: 300px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.pixelated-image-card__default,
.pixelated-image-card__active,
.pixelated-image-card__pixels {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pixelated-image-card__active {
  z-index: 2;
}

.pixelated-image-card__active {
  display: none;
}

.pixelated-image-card__pixels {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pixelated-image-card__pixel {
  display: none;
  position: absolute;
}

/* chat game */
.chat-custom {
  border: white 3px solid;
  border-radius: 25px;
}

.button-chat-custom {
  background-color: var(--red-custom);
  color: white;
  border-radius: 0px 25px 25px 0px;
}

.form-chat-custom {
  border-radius: 25px 0px 0px 25px;
}